//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80    // default: 10
#include <dt-bindings/zmk/pointing.h>

&mmv {
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <1>;
};

&msc { time-to-max-speed-ms = <100>; };

/ {
    combos {
        compatible = "zmk,combos";

        kor+eng {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <37 28 29>;
            layers = <0>;
            require-prior-idle-ms = <0>;
            timeout-ms = <300>;
        };

        kor+chn {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <37 28 30>;
            layers = <0>;
            require-prior-idle-ms = <0>;
            timeout-ms = <300>;
        };

        capslo {
            bindings = <&kp CAPS>;
            key-positions = <37 30 29>;
            layers = <0>;
            require-prior-idle-ms = <0>;
            timeout-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
           &kp Q  &kp W  &kp E         &kp R  &kp T    &kp Y      &kp U           &kp I         &kp O    &kp P
           &kp A  &kp S  &kp D         &kp F  &kp G    &kp H      &kp J           &kp K         &kp L    &kp SEMI
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V  &kp B    &kp N      &kp M           &kp COMMA     &kp DOT  &kp FSLH  &kp APOS
                         &kp LEFT_WIN  &mo 2  &mo 1    &kp SPACE  &kp LEFT_SHIFT  &kp LEFT_ALT
            >;
        };

        nav_num {
            bindings = <
                  &kp ESC      &kp BACKSPACE  &kp UP     &kp DELETE  &kp GRAVE        &kp PLUS      &kp N7          &kp N8        &kp N9  &kp ASTERISK
                  &kp TAB      &kp LEFT       &kp DOWN   &kp RIGHT   &kp BACKSLASH    &kp MINUS     &kp N4          &kp N5        &kp N6  &kp SLASH
&kp LEFT_CONTROL  &kp PAGE_UP  &kp HOME       &kp ENTER  &kp END     &kp PAGE_DOWN    &kp N0        &kp N1          &kp N2        &kp N3  &kp PERIOD    &kp LEFT_CONTROL
                                              &trans     &trans      &trans           &kp LEFT_WIN  &kp LEFT_SHIFT  &kp LEFT_ALT
            >;
        };

        mous_func {
            bindings = <
           &none  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none     &mo 7  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none     &mo 8  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none           &mkp MCLK       &none            &none     &mo 9  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                  &trans          &trans           &trans    &mo 4  &mo 5           &mo 6
            >;
        };

        device {
            bindings = <
            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &kp F7      &kp F8    &kp F9  &kp F12
            &kp C_BRI_UP  &kp C_VOL_UP  &none         &none         &none           &none  &kp F4      &kp F5    &kp F6  &kp F11
&bt BT_CLR  &kp C_BRI_DN  &kp C_VOL_DN  &none         &none         &none           &none  &kp F1      &kp F2    &kp F3  &kp F10  &none
                                        &trans        &trans        &trans          &none  &kp LSHIFT  &kp LALT
            >;
        };

        mous-300 {
            bindings = <
           &none  &mkp LCLK          &mmv MOVE_Y(-300)  &mkp RCLK         &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &mmv MOVE_X(-300)  &mmv MOVE_Y(300)   &mmv MOVE_X(300)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none              &mkp MCLK          &none             &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                     &trans             &trans            &trans    &trans  &trans          &trans
            >;
        };

        mous-600 {
            bindings = <
           &none  &mkp LCLK          &mmv MOVE_Y(-600)  &mkp RCLK         &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &mmv MOVE_X(-600)  &mmv MOVE_Y(600)   &mmv MOVE_X(600)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none              &mkp MCLK          &none             &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                     &trans             &trans            &trans    &trans  &trans          &trans
            >;
        };

        mous-1200 {
            bindings = <
           &none  &mkp LCLK          &mmv MOVE_Y(-1200)  &mkp RCLK         &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &mmv MOVE_X(-1200)  &mmv MOVE_Y(1200)   &mmv MOVE_X(1200)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none              &mkp MCLK          &none             &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                     &trans             &trans            &trans    &trans  &trans          &trans
            >;
        };

        scroll-10 {
            bindings = <
           &none  &mkp LCLK         &msc MOVE_Y(10)   &mkp RCLK        &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &msc MOVE_X(-10)  &msc MOVE_Y(-10)  &msc MOVE_X(10)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none             &mkp MCLK         &none            &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                    &trans            &trans           &trans    &trans  &trans          &trans
            >;
        };

        scroll-20 {
            bindings = <
           &none  &mkp LCLK         &msc MOVE_Y(20)   &mkp RCLK        &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &msc MOVE_X(-20)  &msc MOVE_Y(-20)  &msc MOVE_X(20)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none             &mkp MCLK         &none            &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                    &trans            &trans           &trans    &trans  &trans          &trans
            >;
        };

        scroll-40 {
            bindings = <
           &none  &mkp LCLK         &msc MOVE_Y(40)   &mkp RCLK        &none     &trans  &kp EQUAL       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none
           &none  &msc MOVE_X(-40)  &msc MOVE_Y(-40)  &msc MOVE_X(40)  &none     &trans  &kp UNDERSCORE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp TILDE  &none  &none             &mkp MCLK         &none            &none     &trans  &kp LESS_THAN   &kp LPAR          &kp RPAR           &kp GREATER_THAN  &kp EXCLAMATION
                                    &trans            &trans           &trans    &trans  &trans          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
